* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/tests export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
.styleci.yml export-ignore
CHANGELOG.md export-ignore
package-lock.json export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
RELEASE.md export-ignore
UPGRADE.md export-ignore