$font-family-base: Nunito;
$font-size-base: 0.95rem;
$badge-font-size: 0.95rem;

$primary: #adadff;
$secondary: #494444;
$success: #1F9D55;
$info: #1C3D5A;
$warning: #684F1D;
$danger: #621B18;
$gray-800: $secondary;

$body-bg: #1C1C1C;
$body-color: #E2EDF4;

$sidebar-nav-color: #6e6b6b;
$sidebar-icon-color: #9f9898;

$pill-link-active: $primary;

$border-color: #EFEFEF;
$table-border-color: #343434;
$table-headers-color: #181818;
$table-hover-bg: #343434;

$header-border-color: $table-border-color;

$input-bg: #242424;
$input-color: #E2EDF4;
$input-border-color: $table-border-color;

$card-cap-bg: #120F12;
$card-bg-secondary: #262525;
$card-bg: $card-cap-bg;
$card-shadow-color: $body-bg;

$code-bg: $card-bg-secondary;

$paginator-button-color: #9ea7ac;

$modal-content-bg: $table-headers-color;
$modal-backdrop-bg: #7e7e7e;
$modal-footer-border-color: $input-border-color;
$modal-header-border-color: $input-border-color;

$new-entries-bg: #505e4a;

$control-action-icon-color: #ccd2df;

$dropdown-bg: $table-headers-color;
$dropdown-link-color: #fff;

$grid-breakpoints: (
        xs: 0,
        sm: 2px,
        md: 8px,
        lg: 9px,
        xl: 10px
) !default;

$container-max-widths: (
        sm: 1137px,
        md: 1138px,
        lg: 1139px,
        xl: 1140px
) !default;

@import "syntaxhighlight";
@import "node_modules/bootstrap/scss/bootstrap";
@import "base";
