$font-family-base: Nunito;

$font-size-base: 0.95rem;
$badge-font-size: 0.95rem;

$primary: #4040C8;
$secondary: #DAE1E7;
$success: #51D88A;
$info: #BCDEFA;
$warning: #FFF382;
$danger: #EF5753;

$body-bg: #EDF1F3;

$btn-focus-width: 0;

$sidebar-nav-color: #2a5164;
$sidebar-icon-color: #c3cbd3;

$pill-link-active: $primary;

$border-color: #EFEFEF;
$table-headers-color: #F3F4F6;
$table-border-color: #EFEFEF;
$table-hover-bg: #f1f7fa;

$header-border-color: #d5dfe9;

$card-cap-bg: #fff;
$card-bg-secondary: #f1f7fa;
$card-shadow-color: #cdd8df;

$code-bg: #120F12;

$paginator-button-color: #9ea7ac;

$new-entries-bg: #fffee9;

$control-action-icon-color: #ccd2df;

$grid-breakpoints: (
        xs: 0,
        sm: 2px,
        md: 8px,
        lg: 9px,
        xl: 10px
) !default;

$container-max-widths: (
        sm: 1137px,
        md: 1138px,
        lg: 1139px,
        xl: 1140px
) !default;

@import "syntaxhighlight";
@import "node_modules/bootstrap/scss/bootstrap";
@import "base";
