$font-family-base: Nunito;
$font-size-base: 0.95rem;
$badge-font-size: 0.95rem;

$primary: #4040C8;
$secondary: #f1f7fa;
$success: #51D88A;
$info: #BCDEFA;
$warning: #FFF382;
$danger: #EF5753;

$body-bg: #EDF1F3;

$btn-focus-width: 0;

$sidebar-nav-color: #2a5164;
$sidebar-icon-color: #c3cbd3;

$pill-link-active: $primary;

$border-color: #EFEFEF;
$table-headers-color: #F3F4F6;
$table-border-color: #EFEFEF;
$table-hover-bg: #f1f7fa;

$header-border-color: #d5dfe9;

$card-cap-bg: #fff;
$card-shadow-color: #cdd8df;

$paginator-button-color: #9ea7ac;

$new-entries-bg: #fffee9;

$control-action-icon-color: #ccd2df;

@import "syntaxhighlight";
@import "node_modules/bootstrap/scss/bootstrap";
@import "base";
