@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";


body {
  padding-bottom: 20px;
}

[v-cloak] {
  display: none;
}

.nav-item{
  a{
    color: #2a5164;;

    svg{
      width: 1rem;
      height: 1rem;
      margin-right: 15px;
      fill: #D4D6D8;
    }

    &.active{
      color: $primary;

      svg{
        fill: $primary;
      }
    }
  }
}