.vjs__tree {
  .vjs__tree__content {
    border-left: 1px dotted rgba(204, 204, 204, 0.28) !important;
  }
  .vjs__tree__node {
    cursor: pointer;
    &:hover {
      color: #20a0ff;
    }
  }
  .vjs-checkbox {
    position: absolute;
    left: -30px;
  }
  .vjs__value__null {
    color: #A291F5 !important;;
  }
  .vjs__value__number,
  .vjs__value__boolean {
    color: #A291F5 !important;;
  }
  .vjs__value__string {
    color: #DACB4D !important;
  }
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #8bd72f;
}

.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-doctag,
.hljs-regexp {
  color: #DACB4D;
}

.hljs-number, .hljs-literal {
  color: #A291F5 !important;
}