.vjs-tree {
    // Fallback for missing fonts from vue-json-pretty on Ubuntu
    font-family: Monaco, Menlo, Consolas, Bitstream Vera Sans Mono, monospace !important;

    .vjs-tree__content {
        border-left: 1px dotted rgba(204, 204, 204, 0.28) !important;
    }
    .vjs-tree__node {
        cursor: pointer;
        &:hover {
            color: #20a0ff;
        }
    }
    .vjs-checkbox {
        position: absolute;
        left: -30px;
    }
    .vjs-value__null {
        color: #a291f5 !important;
    }
    .vjs-value__number,
    .vjs-value__boolean {
        color: #a291f5 !important;
    }
    .vjs-value__string {
        color: #dacb4d !important;
    }
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
    color: #8bd72f;
}

.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-doctag,
.hljs-regexp {
    color: #dacb4d;
}

.hljs-number,
.hljs-literal {
    color: #a291f5 !important;
}
