$body-bg: #EDF1F3;
$font-family-base: Nunito;
$font-size-base: 0.95rem;

$primary: #4246C7;
$secondary: #f1f7fa;

$table-headers-color: #F3F4F6;
$table-border-color: #EFEFEF;
$table-hover-bg: #f1f7fa;

$border-color: #EFEFEF;
